<!DOCTYPE html>
<html lang="{{lang}}" dir="{{dir}}">
<head>
    <meta charset="{{charset}}" />
    {{#metas}}<meta name="{{name}}" content="{{content}}" />
    {{/metas}}
    <title>500 Internal Server Error</title>
</head>
<body>

<h1>500 Internal Server Error</h1>

</body>
</html>